*{
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}

h1{
    color: #ffd90f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
audio{
    width: 100px;
    height: 20px;
    border-radius: 100px;
    transform: scale(1.05);
 }
 p{
    color: azure;
 }

 